/* Quitar bordes de las tablas */

.custom-email-table .ant-table-cell {
  padding: 10px 25px !important;
  border-bottom: none !important;
}

/* Hover fila */
.custom-email-table .ant-table-row:hover > td {
  background-color: #e1e8ff !important;
  cursor: pointer;
}

/* Cabecera */
.custom-email-table .ant-table-thead > tr > th {
  background: #e1e8ff !important;
  font-weight: 600;
}

.ant-checkbox-inner {
  width: 18px !important;
  height: 18px !important;
  border-radius: 1px !important; /* cuadradito */
  border: 2px solid #1d2eb6 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #1d2eb6 !important; /* azul */
  border-color: #1d2eb6 !important;
}

.ant-checkbox-inner::after {
  border-color: white !important; /* tilde blanco */
}

.custom-dropdown-menu .ant-dropdown-menu-item:hover {
  background-color: transparent !important;
}
.custom-dropdown-menu .ant-dropdown-menu-item-disabled {
  cursor: default !important;
}
.custom-dropdown-menu .ant-dropdown-menu-item-disabled:hover {
  background-color: transparent !important;
}

.custom-dropdown-menu .ant-dropdown-menu-item {
  padding: 0 !important;
}
.custom-dropdown-menu .ant-dropdown-menu-item:hover {
  background-color: transparent !important;
}
.custom-dropdown-menu .ant-dropdown-menu-item-disabled {
  cursor: default !important;
}
.custom-dropdown-menu .ant-dropdown-menu-item-disabled:hover {
  background-color: transparent !important;
}
